@import 'nib'

global-reset()

html, body
  height 100%

body
  background #16161d
  font-family monospace

@require 'Card'

.app
  width (card-width + card-margin-right) * 9 - card-margin-right
  margin 0 auto
  position relative

