card-width  = 100px
card-height = 140px

.card
  cursor pointer
  position absolute
  width  card-width
  height card-height
  line-height card-height
  font-size 50px
  font-weight bold
  text-align center
  background-color #fff
  color #000
  border-radius 10px
  &.hover
    pointer-events none
    color #f00
    z-index 1
