card-width  = 100px
card-height = 160px

.card
  position absolute
  width  card-width
  height card-height
  line-height card-height
  font-size 50px
  font-weight bold
  text-align center
  background-color #fff
  border-radius 10px
