card-width        = 100px
card-height       = 140px
card-margin-right = 10px

.card
  cursor pointer
  user-select none
  position absolute
  width  card-width
  height card-height
  line-height card-height
  font-size 50px
  font-weight bold
  text-align center
  background-color #fff
  color #000
  border-radius 10px
  margin-bottom 33%
  &.disabled
    pointer-events none
    color #666
  &.hover
    pointer-events none
    color #f00
    z-index 1
  &.pass
    pointer-events none
    color #0f0
